<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css">
    <title>Document</title>
</head>
<body>

    <h1>This is the visitor page!</h1>
    <ul>

       <li> Click <a href="/about">here</a> to get to the about page</li>
      <li> Click <a href="/works"> here </a>to get to the works page </li>
      <li> Click <a href="/photo"> here </a>to get to the photo page </li>


    </ul>


    
</body>
</html>